<div class="row">
  <div class="col-md-12 col-lg-12">
    <%= image_tag @user.gravatar_url %>
    <h1><%= @user.email %></h1>
    <table class="table">
      <tr>
        <td>Wins: 1</td>
        <td>Losses: 1</td>
      </tr>
    </table>
  </div>
</div>
