<%= form_for(@game) do |f| %>
  <div class="i-beat">
    <h1>I Beat <%= collection_select(:game, :loser_id, @opponents, :id, :email, {}, class: 'form-control') %> </h1>


  <%= f.submit "Make it known", class: "btn btn-success btn-lg" %>
<% end %>
